<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Things You Can Do</title>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="icons/font/css/iconic-bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-fixed-top ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Tzu Chi Green Earth</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  href="/" >Home</a>
                    </li>
                    <li>
                        <a href="/help">Things You Can Do</a>
                    </li>
                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="jumbotron">
      <div class="container">
        <h1>Top 10 ways you can stop climate change</h1>
        <p>Ever wonder how your tiny carbon footprint really impacts the big picture of climate change? Though you might feel like your lifestyle is insignificant compared to things like oil extraction or vehicle emissions, the choices we make in our day-to-day life — how we get around, what we eat, how we live — play a major role in slowing climate change. </p>
        <p>Here's a list of 10 ways you can join in the fight to reduce our carbon footprint.this quick reference guide breaks down what you can do today to protect the planet for future generations.</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
		  <div class="col-md-12 col-lg-6 ">
		  		<div class="well">
		  			<h3 >1.  Reduce, Reuse, Recycle </h3>
		  			<img src="img/way1.jpg" class="img-responsive pull-left img-margin" alt="way1">
		  			<p >Do your part to reduce waste by choosing reusable products instead of disposables - get a reusable water bottle, for example. Buying products with minimal packaging (including the economy size when that makes sense for you) will help to reduce waste. And whenever you can, recycle paper, plastic, newspaper, glass and aluminum cans. If there isn't a recycling program at your workplace, school, or in your community, ask about starting one. By recycling half of your household waste, you can save 2,400 pounds of carbon dioxide annually. </p>
		  			 <button type="button" class="btn button" data-toggle="collapse" data-target="#recycle"><span class="glyphicon glyphicon-plus"></span></button>
										
					<div id="recycle" class="collapse" >
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/bn8R_XqjjI0"  allowfullscreen></iframe>
						</div>
					</div>
		  	</div>
		  </div>
		  <div class="col-md-12 col-lg-6">
			  <div class="well">
		  		  <h3 >2.  Use Less Heat and Air Conditioning </h3>
		  		  <img src="img/way2.jpg" class="img-responsive pull-left img-margin" alt="way2">
		  		  <p >Adding insulation to your walls and attic, and installing weather stripping or caulking around doors and windows can lower your heating costs more than 25 percent, by reducing the amount of energy you need to heat and cool your home.</p>
		          <p >Turn down the heat while you're sleeping at night or away during the day, and keep temperatures moderate at all times. Setting your thermostat just 2 degrees lower in winter and higher in summer could save about 2,000 pounds of carbon dioxide each year. </p>
		          <button type="button" class="btn button" data-toggle="collapse" data-target="#lessheat"><span class="glyphicon glyphicon-plus"></span></button>
										
					<div id="lessheat" class="collapse" >
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/xdMDyiHUIpo"  allowfullscreen></iframe>
						</div>
					</div>
		 	 </div>
          </div>
        </div>
         <div class="row">
          <div class="col-md-12 col-lg-6">
			  <div class="well">
          		<h3>3.  Change a Light Bulb </h3>
                <img src="img/way3.jpg" class="img-responsive pull-left img-margin" alt="way3">	
          		<p >ccording to the Union of Concerned Scientists, if every U.S. household replaced just one regular incandescent light bulb with a compact fluorescent light bulb, it would prevent 90 billion pounds of greenhouse gas emissions from power plants, the equivalent of taking 7.5 million cars off the road. And the U.S. Environmental Protection Agency says that by replacing regular light bulbs with compact fluorescent light bulbs at the same minimal rate, Americans would save enough energy to light more than 2.5 million homes for a year</p>
          		</div>
          </div>
		  <div class="col-md-12 col-lg-6">
			  <div class="well">
		   		  <h3 >4.  Drive Less and Drive Smart </h3>
		          <img src="img/way4.jpg" class="img-responsive pull-left img-margin" alt="way4">
		   		  <p >Less driving means fewer emissions. Besides saving gasoline, walking and biking are great forms of exercise. Explore your community mass transit system, and check out options for carpooling to work or school. Even vacations can provide opportunities to reduce your carbon footprint.</p>
				  <p >When you do drive, make sure your car is running efficiently. For example, keeping your tires properly inflated can improve your gas mileage by more than 3 percent. Every gallon of gas you save not only helps your budget, it also keeps 20 pounds of carbon dioxide out of the atmosphere.</p>
				  <button type="button" class="btn button" data-toggle="collapse" data-target="#drive"><span class="glyphicon glyphicon-plus"></span></button>
										
					<div id="drive" class="collapse" >
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/siq_4LVbkXY"  allowfullscreen></iframe>
						</div>
					</div>
		   		</div>  	
		  </div>
       </div>
       <div class="row">
		   <div class="col-md-12 col-lg-6">
			   <div class="well">
		   	   		<h3 >5.  Use Less Hot Water </h3>
	   	   	    	<img src="img/way5.jpg" class="img-responsive pull-left img-margin" alt="way5">
		   	   	    <p >Set your water heater at 120 degrees to save energy, and wrap it in an insulating blanket if it is more than 5 years old. Buy low-flow showerheads to save hot water and about 350 pounds of carbon dioxide yearly. Wash your clothes in warm or cold water to reduce your use of hot water and the energy required to produce it. That change alone can save at least 500 pounds of carbon dioxide annually in most households. Use the energy-saving settings on your dishwasher and let the dishes air-dry. </p>
		  		</div>
		   </div>
		   <div class="col-md-12 col-lg-6">
			   <div class="well">
		   			<h3 >6. Use the "Off" Switch </h3>
		   			<img src="img/way6.jpg" class="img-responsive pull-left img-margin" alt="way6">
		   			<p >Save electricity and reduce global warming by turning off lights when you leave a room, and using only as much light as you need. And remember to turn off your television, video player, stereo and computer when you're not using them.</p>
		   	  		<p >It's also a good idea to turn off the water when you're not using it. While brushing your teeth, shampooing the dog or washing your car, turn off the water until you actually need it for rinsing. You'll reduce your water bill and help to conserve a vital resource. </p>
		   		</div>
		   </div>
       </div>
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<div class="well">
					<h3 >7. Plan A Tree </h3>
					<img src="img/way7.jpg" class="img-responsive pull-left img-margin" alt="way7">
					<p >If you have the means to plant a tree, start digging. During photosynthesis, trees and other plants absorb carbon dioxide and give off oxygen. They are an integral part of the natural atmospheric exchange cycle here on Earth, but there are too few of them to fully counter the increases in carbon dioxide caused by automobile traffic, manufacturing and other human activities. Help mitigate climate change: a single tree will absorb approximately one ton of carbon dioxide </p>
					<button type="button" class="btn button" data-toggle="collapse" data-target="#tree"><span class="glyphicon glyphicon-plus"></span></button>
										
					<div id="tree" class="collapse" >
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kUsKbSrCEQ8"  allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6">
				<div class="well">
					<h3 >8. Encourage Others to Conserve  </h3>
					<img src="img/way8.jpg" class="img-responsive pull-left img-margin" alt="way8">
					<p>Share information about recycling and energy conservation with your friends, neighbors and co-workers, and take opportunities to encourage public officials to establish programs and policies that are good for the environment.
					Take a few minutes to contact your political representatives and the media to tell them you want immediate action on climate change. Remind them that reducing greenhouse gas emissions will also build healthier communities, spur economic innovation and create new jobs. And next time you're at the polls, vote for politicians who support effective climate policies</p>
				</div>
    		</div>
	    </div>
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<div class="well">
					<h3 >9. Eat Less Meat </h3>
					<img src="img/way9_1.jpg" class="img-responsive pull-left img-margin" alt="way9">
					<p >Buy organic and locally grown foods. Avoid processed items. Grow some of your own food. And eat low on the food chain — at least one meat-free meal a day — since 18 per cent of greenhouse gas emissions come from meat and dairy production. Food writer Michael Pollan sums it up best: "Eat food. Not too much. Mostly plants."</p>
					<button type="button" class="btn button" data-toggle="collapse" data-target="#more"><span class="glyphicon glyphicon-plus"></span></button>
										
					<div id="more" class="collapse" >
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/lLhEmGx8YQE"  allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
        	</div>
	        <div class="col-md-12 col-lg-6">
				<div class="well">
	        		<h3 >10. Support and Donate </h3>
       		 	   	<img src="img/way10.jpg" class="img-responsive pull-left img-margin" alt="way10">
	        	   	<p >Many organizations, including the Tzu Chi Foundation, are working hard on solutions to climate change and rely on financial support from citizens like you. Consider making a donation today by calling 1-800-453-1533 or by <a href="http://www.tzuchi.ca/index.php/en/">visiting our secure website.</a> </p>
	        	</div>
		   </div>
			
		</div>
	       
	</div>
    
    <footer>
        <div class="container foot-margin">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 inner-margin">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="iconic iconic-social-twitter iconic-md" title="twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconic  iconic-social-facebook iconic-md" title="facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconic  iconic-social-tumblr iconic-md" title="facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                        	<a href="#">
                        		 <span class="iconic  iconic-social-google-plus iconic-md" title="facebook" aria-hidden="true"></span>
                        	</a>
                        </li>
                    </ul>
                    <p class="copyright text-center ">Copyright &copy; Tzu Chi Green Earth 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap.native/1.0.4/bootstrap-native.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
	<script src="js/textfitting.js"></script>	
</body>
</html>