<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tzu Chi Green Earth</title>
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="icons/font/css/iconic-bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
	  <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="/" class="navbar-brand">Tzu Chi Green Earth</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  href="/" >Home</a>
                    </li>
                    <li>
                        <a href="/help">Things You Can Do</a>
                    </li>
                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Tzu Chi Green Earth Organization</h1>
		  <p>Founded by Tzu Chi Foundation, and it is one of organizations in Tzu Chi. It is now the nation's largest and most influential grassroots environmental organization -- with more than 2 million volunteers, members and supporters.</p>
       <p> Our mission is to fight against global climate warming and protect the natural resources. Our successes range from protecting millions of acres of wilderness to helping pass the Clean Air Act, Clean Water Act, and Endangered Species Act. More recently, we've made history by leading the charge to move away from the dirty fossil fuels that cause climate disruption and toward a clean energy economy. </p>
       
       
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6">
        	       
          <h2 class="text-center">It is time to care our Earth</h2>
          <figure>
            	<img src="img/1320_effects-image.jpg" class="img-responsive imgCenter img-margin2"  alt="warming effect">
        	    <figcaption>
        	    	<p class="small-size">The potential future effects of global climate change include more frequent wildfires, longer periods of drought in some regions and an increase in the number, 
                     duration and intensity of tropical storms. </p>
        	    </figcaption>
          </figure>
          <p>Global climate change has already had observable effects on the environment. Glaciers have shrunk, ice on rivers and lakes is breaking up earlier, plant and animal ranges have shifted and trees are flowering sooner.Effects that scientists had predicted in the past would result from global climate change are now occurring: loss of sea ice, accelerated sea level rise and longer, more intense heat waves.</p>
           <button type="button" class="btn button" data-toggle="collapse" data-target="#learnmore"><span class="glyphicon glyphicon-plus"></span></button>
        <div id="learnmore" class="collapse" >
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Cz_P31U9nVs"  allowfullscreen></iframe>
			</div>
		 </div>
        
        </div>
		  <div class="col-md-12 col-lg-6 col-xl-6">
		    <h2 class="text-center">More droughts and heat waves </h2>
		    <figure>
		    	<img src="img/droughts1.jpg" class="img-responsive imgCenter img-margin2" alt="droughts one">
		    </figure>
		   
		  	<p>Droughts in the Southwest and heat waves (periods of abnormally hot weather lasting days to weeks) everywhere are projected to become more intense, and cold waves less intense everywhere.</p>
		  	<p>Summer temperatures are projected to continue rising, and a reduction of soil moisture, which exacerbates heat waves, is projected for much of the western and central U.S. in summer. By the end of this century, what have been once-in-20-year extreme heat days (one-day events) are projected to occur every two or three years over most of the nation.  
            </p>
            
		 </div>
		  
         </div>
         <div class="row">
           <div class="col-md-12 col-lg-6 col-xl-6">
		  	<h2 class="text-center">Air pollution levels rising in many of the world’s poorest cities </h2>
		  	<figure>
		    	<img src="img/greenhouse.jpg" class="img-responsive imgCenter img-margin2" alt="droughts one">
			</figure>
		
			<p>According to the latest urban air quality database, 98% of cities in low- and middle income countries with more than 100 000 inhabitants do not meet WHO air quality guidelines.</p>  
			<p>As urban air quality declines, the risk of stroke, heart disease, lung cancer, and chronic and acute respiratory diseases, including asthma, increases for the people who live in them.</p>
			<p>Global urban air pollution levels increased by 8%, despite improvements in some regions. The highest urban air pollution levels were experienced in low-and middle-income countries in WHO’s Eastern Mediterranean and South-East Asia Regions, with annual mean levels often exceeding 5-10 times WHO limits, followed by low-income cities in the Western Pacific Region. </p>
			
		  </div>
          <div class="col-md-12 col-lg-6 col-xl-6">
            <h2 class="text-center">Sea level will rise 1-4 feet by 2100</h2>
            
            <figure>
            	<img src="/img/sealevel.jpg" class="img-responsive imgCenter img-margin2" alt="droughts one">
            </figure>
            
            <p>Global sea level has risen by about 8 inches since reliable record keeping began in 1880. It is projected to rise another 1 to 4 feet by 2100. This is the result of added water from melting land ice and the expansion of seawater as it warms.</p>
            <p>In the next several decades, storm surges and high tides could combine with sea level rise and land subsidence to further increase flooding in many of these regions. Sea level rise will not stop in 2100 because the oceans take a very long time to respond to warmer conditions at the Earth’s surface. Ocean waters will therefore continue to warm and sea level will continue to rise for many centuries at rates equal to or higher than that of the current century. </p>
              
          </div>
         	
         </div>
         <div class="row">
         	<div class="col-md-12 col-lg-6 col-xl-6 clearfix">
         	    <h2 class="text-center">Temperatures will continue to rise</h2>
         	 
         		<img src="/img/hightemp2.jpg" class="img-responsive imgCenter pull-left img-margin" alt="">
         		
         		<p>Because human-induced warming is superimposed on a naturally varying climate, the temperature rise has not been, and will not be, uniform or smooth across the country or over time. </p>
         	</div>
         	<div class="col-md-12 col-lg-6 col-xl-6 ">
         		<h2 class="text-center">Arctic likely to become ice-free</h2>
         		
         		<img src="/img/ice2.jpg" class="img-responsive imgCenter pull-left img-margin" alt="">
         		
         		<p>The Arctic Ocean is expected to become essentially ice free in summer before mid-century. </p>
         	</div>
         	
         </div>
      	
      </div>
    
    	<br>
       <footer>
        <div class="container foot-margin">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 inner-margin">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="iconic iconic-social-twitter iconic-md" title="twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconic  iconic-social-facebook iconic-md" title="facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconic  iconic-social-tumblr iconic-md" title="tumblr" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                        	<a href="#">
                        		 <span class="iconic  iconic-social-google-plus iconic-md" title="googleplus" aria-hidden="true"></span>
                        	</a>
                        </li>
                    </ul>
                    <p class="copyright text-center ">Copyright &copy; Tzu Chi Green Earth 2016</p>
                </div>
            </div>
        </div>
    </footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap.native/1.0.4/bootstrap-native.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
	<script src="js/textfitting.js"></script>
</body>
</html>